.container-footer {
    height: 454px;
    width: 1440px;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    color: white;
} 



.reta {
position: absolute;
width: 1240px;
height: 1px;
left: 100px;
top: 384px;
background: #FFFFFF;
opacity: 0.3;
}
.footer-about {
    width: 307px;
    height: 78px;
    top: 151px;
    left: 100px;
    bottom: 225px;
    right: 1033px;
}
.dc {
    width: 33px;
    height: 33px;
    top: 38px;
   
}
.dctext {
    width: 212px;
    height: 44px;
    left: 41px;
}
.socials {
    width: 124.12px;
    height: 20.53px;
    top: 269px;
    left: 100px;
    bottom: 164.47px;
    right: 1215.88px;
}
.facelogo {
    width: 10.92px;
    height: 20.53px;
    top: 269px;
    left: 100px;
}
.instalogo {
    width: 20.11px;
    height: 20.11px;
    top: 269px;
    left: 146px;
}
.left {
    height: 78px;
    width: 307px;
    top: 151px;
    left: 100px;
    align-items: center;
    display: flexbox;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: serif;
    font-style: normal;
    font-weight: 40px;
    font-size: 16px;
    color: #FFFFFF;
}

.info {
    height: 78px;
    width: 307px;
    top: 151px;
    left: 100px;
    align-items: center;
    display: flexbox;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: serif;
    font-style: normal;
    font-weight: 40px;
    font-size: 16px;
    color: #FFFFFF;
}

.categ {
    height: 78px;
    width: 307px;
    top: 151px;
    left: 100px;
    align-items: center;
    display: flexbox;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-weight: 40px;
    font-size: 16px;
    color: #FFFFFF;
}

.contato {
    height: 78px;
    width: 307px;
    top: 151px;
    left: 100px;
    align-items: center;
    display: flexbox;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    justify-content: center;
    font-family: serif;
    font-style: normal;
    font-weight: 40px;
    font-size: 16px;
    color: #FFFFFF;
}